@keyframes global-loader-slider-1 {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@-moz-keyframes global-loader-slider-1 {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes global-loader-slider-1 {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}


@keyframes global-loader-slider-2 {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@-moz-keyframes global-loader-slider-2 {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@-webkit-keyframes global-loader-slider-2 {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes waterfall {
  to {
    background-position: 0% -100%;
  }

  from {
    background-position: 0% 100%;
  }
}

@-webkit-keyframes waterfall {
  to {
    background-position: 0% -100%;
  }

  from {
    background-position: 0% 100%;
  }
}

@-moz-keyframes waterfall {
  to {
    background-position: 0% -100%;
  }

  from {
    background-position: 0% 100%;
  }
}


@keyframes alcube {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
    -moz-transform: rotateX(-30deg) rotateY(0deg);
    -ms-transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
    -moz-transform: rotateX(-30deg) rotateY(360deg);
    -ms-transform: rotateX(-30deg) rotateY(360deg);
  }
}

@-webkit-keyframes alcube {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
    -moz-transform: rotateX(-30deg) rotateY(0deg);
    -ms-transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
    -moz-transform: rotateX(-30deg) rotateY(360deg);
    -ms-transform: rotateX(-30deg) rotateY(360deg);
  }
}

@-moz-keyframes alcube {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
    -webkit-transform: rotateX(-30deg) rotateY(0deg);
    -moz-transform: rotateX(-30deg) rotateY(0deg);
    -ms-transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
    -webkit-transform: rotateX(-30deg) rotateY(360deg);
    -moz-transform: rotateX(-30deg) rotateY(360deg);
    -ms-transform: rotateX(-30deg) rotateY(360deg);
  }
}